<app-action-modal
  [title]="title"
  [action]="action"
>
  <div class="container">
    <div class="row">
      <span>Made by team A</span>
    </div>
    <div class="row">
      <span>{{message}}</span>
    </div>
  </div>
</app-action-modal>
