<app-modal
  [title]="title"
>
  <app-modal-body>
    <ng-content></ng-content>
  </app-modal-body>
  <app-modal-footer>
    <button type="button" class="btn btn-primary" (click)="activeModal.close()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="performAction()">Action</button>
  </app-modal-footer>
</app-modal>
