<app-action-modal
  [title]="title"
  [action]="formAction"
>
  <div class="container">
    <div class="row">
      <span>Made by team B</span>
    </div>
    <div class="row">
      <form>
        <label>firstname</label>
        <input name="fistname" (change)="updateFormInput($event)">
      </form>
    </div>
  </div>
</app-action-modal>
