<div class="container">
  <div class="row m-4">
    <h2>{{title}}</h2>
  </div>
  <div class="row m-4">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="open()">Generieke modal</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="openActionOne()">Team A</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="openActionTwo()">Team B - 1.1</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="openCombinedAction()">Team B - 1.2</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="openPersonalAction()">Team B - 2.1</button>
    </div>
  </div>
  <div class="row m-4">
    <h1>{{actionResult}}</h1>
  </div>
</div>
